# Imports and Reading In CSV's

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
#pd.set_option('display.max_columns', 500)
import numpy as np

In [2]:
turtboth=pd.read_csv('./BHIboth.csv')
turt19=pd.read_csv('./turtles2019.csv')

# Renaming Columns in 2019 to Match Big Dataset

In [3]:
#turt19.columns[:50] #getting names to change

In [4]:
#Renaming the Columns
turt19.rename(columns = {'Nest #':'nest', 'Date':'date', 'Time First Observed':'time', 
    'First Action Observed':'first_action',
    'Treatment':'treatment',
    'Observed':'observed',
    'Species':'species'
    'Legacy Name(Tag Name)', 
    'Genetic Code':'dna_id',
    'PIT - 1':'PIT', 
    'A/E':'AE1', 
    'A/E.1':'AE2',
    'A/E.2':'AE3',
    'CNT(cm)':'CNT', 
    'CNN(cm)':'CNN',
    'CW(cm)':'CW', 
    'SNT(cm)':'SNT',
    'SNN(cm)':'SNN',
    'SW(cm)':'SW', 
    'Biopsy(#)':'biopsy',
    'Hatch Date':'hatchdate',
    'Incubation ':'incubation', 
    'Rel. Eggs':'rel_eggs',
    'Eggs Taken/Broken':'eggs_taken',
    'Hatched Eggs':'hatched', 
    'Unhatched':'unhatched',
    'No discernible embryo':'no_embryo', 
    'Embryo':'embryo', 
    'Live ':'live', 
    'Dead':'dead', 
    'Pipped':'pipped',
    'Total Clutch ':'total_eggs', 
    'Hatch Success':'hatchsuccess', 
    'Emerge Success':'emergesuccess',
    'Dist. High Tide Line (m)':'disHT',
    #'Dist. Veg. (m)':'disVeg',
    'Rel Dist. High Tide Line':'disHT2',
    'Exit Time':'exit_time',
    'Goforth nest?':'goforth', 
    'Comments ':'comments',
    #dist. Tide Line(m)
    #eggs predated
    #excavation date
    #eggs in situ              
    }, inplace = True)

In [5]:
#Create a copy so don't mess up any original data
turt=turt19.copy()

#drop empty rows
turt=turt.drop(turt.columns[49:139], axis=1)

In [6]:
#Year=2019 for 2019
turt['year']=2019

In [7]:
#turt.head()

# Apply Conditional Logic to Columns

In [8]:
#Make sure treatment is Only "relocated" and "nan"
turt.treatment.value_counts()

Relocated    44
Name: treatment, dtype: int64

In [9]:
#IF TREATMENT IS RELOCATED
turt['orig_lat'] = turt['Incubation Lat']
turt.loc[turt['treatment'] == 'Relocated', 'orig_lat'] = ''

turt['orig_long'] = turt['Incubation Long']
turt.loc[turt['treatment'] == 'Relocated', 'orig_long'] = ''

turt['orig_beach'] = turt['Location']
turt.loc[turt['treatment'] == 'Relocated', 'orig_beach'] = ''

turt['disVeg'] = turt['Dist. Veg. (m)']
turt.loc[turt['treatment'] == 'Relocated', 'disVeg'] = ''

#IF TREATMENT IS NOT RELOCATED
turt['final_lat'] = turt['Incubation Lat']
turt.loc[turt['treatment'] != 'Relocated', 'final_lat'] = ''

turt['final_long'] = turt['Incubation Long']
turt.loc[turt['treatment'] != 'Relocated', 'final_long'] = ''

turt['reloc_beach'] = turt['Location']
turt.loc[turt['treatment'] != 'Relocated', 'reloc_beach'] = ''

turt['disVeg2'] = turt['Dist. Veg. (m)']
turt.loc[turt['treatment'] != 'Relocated', 'disVeg2'] = ''

#turt.head(3)

In [ ]:
# df['species'] = ['Cc' if x == 'Cc'  for x in df['speciesLegacy Name(Tag Name)']]

# Merge BHICBOTH with 2019

In [10]:
big = pd.concat([turtboth, turt], sort='False')

In [22]:
big.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3784 entries, 0 to 232
Data columns (total 68 columns):
AE1                              814 non-null object
AE2                              1384 non-null object
AE3                              1376 non-null object
CNN                              853 non-null float64
CNT                              2371 non-null float64
CW                               2377 non-null float64
Dist. Tide Line (m)              138 non-null object
Dist. Veg. (m)                   167 non-null object
Eggs in situ                     29 non-null float64
EggsPredated                     170 non-null float64
Excavation Date                  167 non-null object
Incubation Lat                   168 non-null float64
Incubation Long                  168 non-null float64
LFF                              1807 non-null object
Legacy Name        (Tag Name)    170 non-null object
Location                         170 non-null object
PIT                              905 non-null object
RFF                              1783 non-null object
SNN                              794 non-null float64
SNT                              1741 non-null float64
SW                               1752 non-null object
access                           2440 non-null object
biopsy                           687 non-null object
comments                         1776 non-null object
date                             3685 non-null object
dead                             2380 non-null float64
disHT                            1313 non-null object
disHT2                           132 non-null float64
disVeg                           494 non-null object
disVeg2                          329 non-null object
dna_id                           142 non-null object
eggs_taken                       1436 non-null float64
embryo                           193 non-null float64
emergesuccess                    1136 non-null object
exit_time                        242 non-null object
final_access                     52 non-null object
final_acess                      2831 non-null object
final_lat                        1740 non-null object
final_long                       1740 non-null object
first_action                     253 non-null object
goforth                          51 non-null object
hatchdate                        2381 non-null object
hatched                          3151 non-null float64
hatchsuccess                     1182 non-null object
incubation                       2518 non-null float64
live                             2485 non-null float64
nest                             3721 non-null float64
no_embryo                        194 non-null object
observed                         2812 non-null object
orig_beach                       878 non-null object
orig_lat                         1679 non-null object
orig_long                        1680 non-null object
pipped                           2067 non-null float64
prev_tags                        33 non-null object
rel_eggs                         1543 non-null float64
reloc_access                     1034 non-null object
reloc_beach                      406 non-null object
reloc_lat                        413 non-null float64
reloc_long                       414 non-null float64
returning_turtle                 39 non-null object
species                          2361 non-null object
speciesLegacy Name(Tag Name)     170 non-null object
tags                             74 non-null object
time                             3023 non-null object
total_eggs                       1182 non-null float64
treatment                        3595 non-null object
unhatched                        2735 non-null float64
year                             3748 non-null float64
dtypes: float64(24), object(44)
memory usage: 2.0+ MB

In [29]:
big['speciesLegacy Name(Tag Name)'].values

array([nan, nan, nan, ..., nan, nan, nan], dtype=object)

# Data Cleaning

## Splitting the PIT on Delimiters

In [11]:
a=big.PIT.str.split(';|&', expand=True)
a.rename(columns = {0:'PIT1'}, inplace = True) 
a.rename(columns = {1:'PIT2'}, inplace = True) 
#a.head(3)

In [12]:
big=big.join(a)
#big.head(2)

## Cleaning Columns

In [13]:
big['LFF'] = big['LFF'].astype(str)
big['RFF'] = big['RFF'].astype(str)
big['PIT1'] = big['PIT1'].astype(str)
big['PIT2'] = big['PIT2'].astype(str)

In [17]:
#REMOVE SLASHES AND SPACES
for i in big.LFF:
    i=i.replace("/","")
    i=i.strip()

for i in big.RFF:
    i=i.replace("/","")
    i=i.strip()
for i in big.PIT1:
    i=i.replace("/","")
    i=i.strip()
for i in big.PIT2:
    i=i.replace("/","")
    i=i.strip()

In [29]:
#remove the % sign
big['emergesuccess'] = big['emergesuccess'].astype(str)
big['emergesuccess'] = big['emergesuccess'].str.rstrip('%').astype('float')

In [30]:
#remove the + sign

# Fix Dates Formats

In [31]:
big['hatchdate']=pd.to_datetime(big.hatchdate)

In [32]:
pd.set_option('display.max_columns', None)

In [33]:
big['date']=pd.to_datetime(big.date)

# Export to CSV

In [34]:
big.to_csv('big.csv', index=False)

# Small dataframe with only tag columns

In [22]:
turtles=big[['year','nest','PIT1','PIT2','LFF','RFF','comments']]
turtles.head()

,year,nest,PIT1,PIT2,LFF,RFF,comments
0,2018.0,1.0,985170002003753,425553341F,MMA933,MMA926,Mom broke one egg; false crawled 3 times befor...
0,2018.0,1.0,nan,nan,MMA933,MMA926,Mom broke one egg; false crawled 3 times befor...
0,2019.0,1.0,985170002003753,425553341F,nan,nan,First nest of the season
0,2019.0,1.0,nan,nan,nan,nan,First nest of the season
1,2018.0,2.0,470D277210,None,UUT616,MMA925,Billie; heavy rain throughout week of hatching...

# Getting Tags in Comments (if we want this)

In [23]:
import re
big['look']=big['comments'].str.contains(r'\w{3}\d{3}')
#re.findall(r'\w{3}\d{3}',turtles['comments'])
big.head()

,AE1,AE2,AE3,CNN,CNT,CW,Dist. Tide Line (m),Dist. Veg. (m),Eggs in situ,EggsPredated,Excavation Date,Incubation Lat,Incubation Long,LFF,Legacy Name (Tag Name),Location,PIT,RFF,SNN,SNT,SW,access,biopsy,comments,date,dead,disHT,disHT2,disVeg,disVeg2,dna_id,eggs_taken,embryo,emergesuccess,exit_time,final_access,final_acess,final_lat,final_long,first_action,goforth,hatchdate,hatched,hatchsuccess,incubation,live,nest,no_embryo,observed,orig_beach,orig_lat,orig_long,pipped,prev_tags,rel_eggs,reloc_access,reloc_beach,reloc_lat,reloc_long,returning_turtle,species,speciesLegacy Name(Tag Name),tags,time,total_eggs,treatment,unhatched,year,PIT1,PIT2,look
0,A,E,A,105.7,109.2,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMA933,NaN,NaN,985170002003753; 425553341F,MMA926,99.8,102.7,77.1,NaN,Y,Mom broke one egg; false crawled 3 times befor...,2018-05-18,4.0,32.3,0.0,0,0,NaN,2.0,3.0,0.583333,3:23,13R,NaN,33.8603,-78.0053,clearing,N,2018-07-10,87.0,0.659091,53.0,6.0,1.0,37,Y,13R,33.8603,-78.0053,3.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Cc,NaN,NaN,1:30,132.0,N,40.0,2018.0,985170002003753,425553341F,False
0,A,E,A,105.7,109.2,101.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MMA933,NaN,NaN,985170002003753; 425553341F,MMA926,99.8,102.7,77.1,NaN,Y,Mom broke one egg; false crawled 3 times befor...,2018-05-18,4.0,32.3,0.0,0,0,NaN,2.0,3.0,0.583333,3:23,13R,NaN,33.8603,-78.0053,clearing,N,2018-07-10,87.0,0.659091,53.0,6.0,1.0,37,Y,13R,33.8603,-78.0053,3.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Cc,NaN,NaN,1:30,132.0,N,40.0,2018.0,nan,nan,False
0,NaN,NaN,NaN,NaN,NaN,NaN,22.2,0,NaN,55.0,7/22/2019,33.85109,-77.96008,nan,Turquoise (RRZ287),42L,NaN,nan,NaN,NaN,NaN,NaN,NaN,First nest of the season,2019-05-15,0.0,11.4,NaN,0,,CC003288,1.0,0.0,41.0%,NaN,NaN,NaN,,,Not Seen,NaN,2019-07-19,41.0,41.0%,65.0,0.0,1.0,3,N,42L,33.8511,-77.9601,0.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,Cc,NaN,NaN,100.0,NaN,3.0,2019.0,985170002003753,425553341F,False
0,NaN,NaN,NaN,NaN,NaN,NaN,22.2,0,NaN,55.0,7/22/2019,33.85109,-77.96008,nan,Turquoise (RRZ287),42L,NaN,nan,NaN,NaN,NaN,NaN,NaN,First nest of the season,2019-05-15,0.0,11.4,NaN,0,,CC003288,1.0,0.0,41.0%,NaN,NaN,NaN,,,Not Seen,NaN,2019-07-19,41.0,41.0%,65.0,0.0,1.0,3,N,42L,33.8511,-77.9601,0.0,NaN,NaN,NaN,,NaN,NaN,NaN,NaN,Cc,NaN,NaN,100.0,NaN,3.0,2019.0,nan,nan,False
1,E,E,A,109.1,111.9,100.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,UUT616,NaN,NaN,470D277210,MMA925,100.7,102.6,76.1,NaN,Y,Billie; heavy rain throughout week of hatching...,2018-05-27,2.0,27.9,0.0,11.5,0,NaN,1.0,5.0,0.743902,0:58,42R,NaN,33.8497,-77.9599,laying,N,2018-07-24,143.0,0.871951,58.0,19.0,2.0,9,Y,42R,33.84,-77.95,6.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,Cc,NaN,NaN,23:50,164.0,N,14.0,2018.0,470D277210,None,False

In [24]:
pat = turtles['comments'].str.contains(r'(.*);(.*)') # First group is everything before the;. second group is everything after the;

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  """Entry point for launching an IPython kernel.

# Sample Backfilling

In [25]:
import numpy as np
df1 = big.replace(np.nan, '', regex=True)

In [26]:
pitlist=[]
for i in big.PIT:
    pitlist.append(i)
print('number of turtles with repeats', len(pitlist))
pitset=set(pitlist) #this drops any duplicates and gives a list of unique PIT tags
print('number of inividual turtles',len(pitset)) #309 individual turtles

number of turtles with repeats 4250
number of inividual turtles 346

In [35]:
big.PIT1 = big.PIT1.astype(str)
big.PIT2 = big.PIT2.astype(str)

In [36]:
#big.LFF.dtype
big.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4250 entries, 0 to 3550
Data columns (total 71 columns):
AE1                              978 non-null object
AE2                              1589 non-null object
AE3                              1564 non-null object
CNN                              1035 non-null float64
CNT                              2566 non-null float64
CW                               2570 non-null float64
Dist. Tide Line (m)              276 non-null object
Dist. Veg. (m)                   334 non-null object
Eggs in situ                     58 non-null float64
EggsPredated                     340 non-null float64
Excavation Date                  334 non-null object
Incubation Lat                   336 non-null float64
Incubation Long                  336 non-null float64
LFF                              4250 non-null object
Legacy Name        (Tag Name)    340 non-null object
Location                         340 non-null object
PIT                              1071 non-null object
RFF                              4250 non-null object
SNN                              961 non-null float64
SNT                              1907 non-null float64
SW                               1915 non-null object
access                           2440 non-null object
biopsy                           901 non-null object
comments                         2007 non-null object
date                             4088 non-null datetime64[ns]
dead                             2584 non-null float64
disHT                            1528 non-null object
disHT2                           222 non-null float64
disVeg                           713 non-null object
disVeg2                          614 non-null object
dna_id                           189 non-null object
eggs_taken                       1681 non-null float64
embryo                           386 non-null float64
emergesuccess                    1358 non-null object
exit_time                        447 non-null object
final_access                     104 non-null object
final_acess                      2831 non-null object
final_lat                        2023 non-null object
final_long                       2023 non-null object
first_action                     468 non-null object
goforth                          102 non-null object
hatchdate                        2562 non-null datetime64[ns]
hatched                          3512 non-null float64
hatchsuccess                     1412 non-null object
incubation                       2712 non-null float64
live                             2682 non-null float64
nest                             4124 non-null float64
no_embryo                        388 non-null object
observed                         3034 non-null object
orig_beach                       1093 non-null object
orig_lat                         1901 non-null object
orig_long                        1902 non-null object
pipped                           2277 non-null float64
prev_tags                        33 non-null object
rel_eggs                         1769 non-null float64
reloc_access                     1034 non-null object
reloc_beach                      646 non-null object
reloc_lat                        413 non-null float64
reloc_long                       414 non-null float64
returning_turtle                 39 non-null object
species                          2569 non-null object
speciesLegacy Name(Tag Name)     340 non-null object
tags                             74 non-null object
time                             3242 non-null object
total_eggs                       1412 non-null float64
treatment                        3872 non-null object
unhatched                        2951 non-null float64
year                             4214 non-null float64
PIT1                             4250 non-null object
PIT2                             4250 non-null object
look                             2007 non-null object
dtypes: datetime64[ns](2), float64(24), object(45)
memory usage: 2.5+ MB

In [37]:
turt_dict ={}
for i in range(len(big.PIT1)):
    turt_dict[big.PIT1[i]]= big.PIT2[i]

turt_dict

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [28]:
turt_dict ={}
#for i i
#if turtles.PIT2!='None':
for i in range(len(big.PIT1)):
    turt_dict[big.PIT1[i]]=(big.PIT2[i]), big.RFF[i], big.LFF[i]

turt_dict

#turt_dict[turtles.PIT1[i]]=(turtles.PIT2[i]!='None')
#print(len(turt_dict))
#dict2={}

#for k,v in turt_dict:
 #   if turt_dict[k]!='none':
  #      dict2[k]=v

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [21]:
#created primary key, yet to deal with

In [22]:
#Kendall: focus on spaces before/after and slashes and separating pit tag into two entries. 
#or maybe an extra column rather than extra row, extra column for double pit. This is easier for back filling code. 
#scan comments for 3letter/3number combos for LFF/RFF
#PIT? Scan comments or leave alone. 

#NEW PLAN, work on 2019, deal with this later.